{% extends 'base.html' %} {% block content %}
<h1>Order Up!</h1>

<form method="POST" action="{{ url_for('.index')}}">
    {{ assign_form.csrf_token }}
    <div>{{ assign_form.tables.label }} {{ assign_form.tables }}</div>
    <div>{{ assign_form.servers.label }} {{ assign_form.servers }}</div>
    <div>{{ assign_form.assign.label }} {{ assign_form.assign }}</div>
</form>
<div>
    Your Open Orders
    <ul>
        {% for order in your_open_orders %}
        <li>
            Table {{ order.table_id }}
            <form id="closeForm" method="POST" action="/orders/{{ order.id }}/close">
                {{ close_form.csrf_token }} {{ close_form.close }}
                <button form="add_to_order_form" formaction="/orders/{{ order.id }}" type="submit">
                    Add to Order
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <h2>Menu</h2>
    <form method="POST" id="add_to_order_form"></form>
    <h3>Entrees</h3>
    <ul>
        {% for item in add_order_form.menu_item_ids.choices %}
        <li>
            <input id="{{ item.id }}" type="checkbox" name="menu_item_ids" value="{{ item.id }}">
            <label for="{{ item.name }}">{{ item[1] }}</label>
        </li>
        {% endfor %}
    </ul>
    <!-- <h3>Sides</h3>
    <ul>
        {% for item in menu_items if item.type.name == "Sides" %}
        <li>
            <input id="{{ item.id }}" type="checkbox" name="menu_item_ids" value="{{ item.id }}">
            <label for="{{ item.name }}">{{ item.name }}</label>
        </li>
        {% endfor %}
    </ul>
    <h3>Beverages</h3>
    <ul>
        {% for item in menu_items if item.type.name == "Beverages" %}
        <li>
            <input id="{{ item.id }}" type="checkbox" name="menu_item_ids" value="{{ item.id }}">
            <label for="{{ item.name }}">{{ item.name }}</label>
        </li>
        {% endfor %}
    </ul> -->
    </form>
</div>
{% endblock %}
